{% extends 'home.html' %}

{% block list %}

<ul>
  <h3>Day list :</h3>
  <li>
    <a href="/displayDay/Monday">Monday</a>
  </li>
  <li>
    <a href="/displayDay/Tuesday">Tuesday</a>
  </li>
  <li>
    <a href="/displayDay/Wednesday">Wednesday</a>
  </li>
  <li>
    <a href="/displayDay/Thursday">Thursday</a>
  </li>
  <li>
    <a href="/displayDay/Friday">Friday</a>
  </li>
  <li>
    <a href="/displayDay/Saturday">Saturday</a>
  </li>
  <li>
    <a href="/displayDay/Sunday">Sunday</a>
  </li>
</ul>
  
{% endblock %}
